<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- <h1>
    Welcome to {{ title }}!
  </h1> -->
  <!-- <button class = "admin-nav">Admin  -->
  <!-- <div class="main-container">
    <mat-form-field>
      <input matInput placeholder="Name">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Subject">
    </mat-form-field>
  
    <mat-form-field>
      <mat-select placeholder="Type">
        <mat-option value="Positive">Positive</mat-option>
        <mat-option value="Negative">Negative</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-stroked-button (click)="postData()">Submit</button>
  </div> -->
  <div><button class = "admin-nav" (click) = "adminRoute()">Admin Panel</button></div> 
  <img width="300" alt="AXS Logo" src="../assets/axs_coat.png">
  <app-vote-form></app-vote-form>



