<!-- <head>

<script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyB_k2feMS0FfWMS-whdjhraC2S7k4GxEhk",
    authDomain: "axsvote.firebaseapp.com",
    databaseURL: "https://axsvote.firebaseio.com",
    projectId: "axsvote",
    storageBucket: "",
    messagingSenderId: "881687428426"
  };
  firebase.initializeApp(config);
</script>
</head> -->
<!-- <div style="text-align:center">
  <img width="100px" alt="AXS Logo" src="../assets/axs_coat.png">
  <app-vote-form></app-vote-form> -->
  <router-outlet></router-outlet>
  